.error {
  background-color: white;
  color: orangered;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 12px;
  display: block;
  width: fit-content;
  font-size: 20px;
  font-weight: 900;
}
